body{margin:0;padding:0;}
.carousel-control{width:5%;}
.container{position:relative;}
@media (min-width:1200px){#button-top{display: none !important;}}
a, button, input, a:hover, button:hover, input:hover, a:focus, button:focus, input:focus,textarea,textarea:focus{outline:none;}
.icon-bar{background:white;}
.navbar{margin-bottom:0;}
.navbar-toggle{margin-right:0;background:#393185;}
.navbar-brand{background:url("../img/logo.png") no-repeat left center;min-height:80px;}
.navbar-collapse{padding-left:0;padding-right:0;background:#f7f7f7;border:0px;box-shadow:none;margin:0px;}
.header .head-right{text-align:right;padding-right:0;}
.header .head-right .phones{margin-left:0px;text-align:right;display:inline-block;vertical-align:middle;}
.header .head-right .phones{min-height:80px;padding-top:20px;}
.header .head-right .hb{display:inline-block;vertical-align:middle;margin-left:15px;}
.header .head-right .phones .velcom a,
.header .head-right .phones .mts a{font-family:PFReg;font-size:16px;display:inline-block;vertical-align:middle;color:black;}
.header .head-right .phones .velcom img,
.header .head-right .phones .mts img{display:inline-block;vertical-align:middle;}
.header .head-right button{float:right;width:180px;height:37px;border-radius:6px;background:#f34c51;border:none;box-shadow:0 3px #e11e24;font-family:PFReg;color:#fff;}
.header .list li{display:inline-block;list-style:none;}
.header .list li:hover{background:#5348c3;}
.header .list li:hover a{color:white;text-decoration:none;background:#5348c3;}
.header .list li a{line-height:36px;font-family:PFReg;font-size:16px;display:block;padding:0 24px;height:36px;color:#5c5c5c;}
.slide{height:520px;width:100%;position:relative;}
.slide .carousel-inner .item{width:100%;height:520px;}
.slide .carousel-inner .item{background:url("../img/slide.jpg") no-repeat center;}
.slide .carousel-indicators li{width:20px;height:20px;border:4px solid white;border-radius:5px;background:white;margin-right:10px;margin-left:2px;}
.slide .carousel-indicators .active{background:#f34c51;}
.slide .offer-up{position:absolute;top:calc((100% - 270px)/2);left:57%;width:390px;}
.slide .offer{width:370px;height:270px;background:#fff;box-shadow:0 -5px #d63237;border-radius:5px;padding:25px 20px 0 35px;}
.slide .offer h2{font-family:PFBold;font-size:30px;margin:0;}
.slide .offer p{margin:0;margin-top:10px;font-size:18px;font-family:PFReg;margin-bottom:34px;line-height:22px;}
.blue-button{padding: 7px 15px;color:white;font-family:PFReg;font-size:16px;padding-right:0;background:#5348c3;box-shadow:0 2px #393185;border-radius:3px;}
.blue-button:hover{text-decoration:none;color:white;background:#393185;}
.blue-button:after{line-height:32px;content:'\e90c';font-family:icomoon;font-size:8px;background:#665ad7;padding: 14px 14px 10px;margin-left:10px;border-radius:3px;box-shadow:0 2px #5348c3;font-weight:bold;z-index:100;display: inline-block;vertical-align: top;line-height: 8px;margin-top: -5px;}
.header .head-right button.red-button:hover,
.red-button:hover{background:#E8474B !important;}
.red-button:focus{outline:none;}
.about-us{background:#f7f7f7;padding-top:80px;padding-bottom:80px;}
.about-us .title{float:right;padding-left:30px;}
.about-us .title h2{padding:0;margin:0;font-family:PFBold;font-size:30px;line-height:25px;margin-top:-2px;margin-bottom:16px;}
.about-us .pic{float:left;}
.about-us .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
.about-us .p1{float:right;font-family:PFReg;font-size:18px;padding-left:30px;line-height:22px;margin-bottom:22px;padding-right:0;}
.about-us .p2{float:right;font-family:PFReg;font-size:18px;padding-left:30px;line-height:22px;padding-right:0;}
.about-us .button{padding-top:20px;padding-left:30px;}
.service{min-height:215px;padding-bottom:40px;}
.service h2{margin:79px 0 10px 0;font-size:30px;font-family:PFBold;}
.service p{font-size:18px;font-family:PFReg;margin-bottom:40px;}
.service .service-block .sb{width:515px;box-shadow:0 5px #393185;margin:0 auto 40px;border-radius: 5px;overflow: hidden;}
.service .service-block .sb .bg{width:515px;height:120px;}
.service .service-block .sb .img{width:100%;}
.sb-1 .bg{background:url("../img/kart-usl-1.jpg") no-repeat center;background-size:cover;}
.sb-2 .bg{background:url("../img/kart-usl-2.jpg") no-repeat center;background-size:cover;}
.sb-3 .bg{background:url("../img/kart-usl-3.jpg") no-repeat center;background-size:cover;}
.sb-4 .bg{background:url("../img/kart-usl-4.jpg") no-repeat center;background-size:cover;}
.sb a{display:block;width:515px;height:104px;background:#665ad7 url("../img/key.png") no-repeat 30px center;padding-left:130px;padding-top: 15px;position:relative;}
.sb a p{font-size:30px;font-family:PFBold;color:white;width:270px;line-height:36px;margin-bottom: 0px;}
.our-serv{background:#f7f7f7;}
.os-1{background:#f7f7f7 url("../img/pig.png") no-repeat left center;height:130px;padding:0;width:426px;float:left;}
.os-2{background:#f7f7f7 url("../img/clock.png") no-repeat left center;height:130px;padding:0;width:425px;float:left;}
.os-3{background:#f7f7f7 url("../img/bag.png") no-repeat left center;height:130px;padding:0;width:289px;float:left;}
.our-serv .os-cell p{margin-left:100px;}
.our-serv .os-cell .p-1{font-family:PFBold;margin-top:35px;font-size:30px;line-height:30px;}
.our-serv .os-cell .p-2{font-family:PFReg;margin-top:10px;font-size:17px;line-height:16px;}
.feedbacks h2{margin-top:78px;margin-bottom:35px;font-family:PFBold;font-size:30px;padding-left:0;}
.feedbacks .feed .inner{border-radius:5px;box-shadow:0 -5px #4b40b6, 0 2px 2px #c5c5c5;}
.feedbacks .feed-1{padding-right:28px;}
.feedbacks .feed-2{padding-left:28px;}
.feedbacks .feed .top-part{height:90px;background:#665ad7;box-shadow:0 1px 1px #c5c5c5;}
.feedbacks .feed .top-part p{margin-left:115px;}
.feedbacks .feed .top-part .p-1{padding-top:15px;font-family:PFBold;font-size:30px;line-height:30px;color:white;margin-bottom:10px;}
.feedbacks .feed .top-part .p-2{margin-top:0;margin-bottom:0;font-family:PFReg;font-size:16px;color:white;line-height:16px;}
.feedbacks .feed .bottom-part{padding:15px 20px 20px 30px;}
.feedbacks .feed .bottom-part p{font-family:PFReg;font-size:16px;}
.feedbacks .feed-1 .top-part{background-image:url("../img/male.png");background-position:20px center;background-repeat:no-repeat;}
.feedbacks .feed-2 .top-part{background-image:url("../img/female.png");background-position:20px center;background-repeat:no-repeat;}
.feedbacks .button{margin-top:30px;padding:0;margin-bottom:70px;}
.feedback{height:560px;background:url("../img/foot.jpg") no-repeat center;position:relative;}
.feedback .fields{height:440px;width:415px;position:absolute;left:23%;top:calc((100% - 440px)/2);background:white;box-shadow:0 -5px #d43236;border-radius:5px;padding:0 50px;}
.feedback .fields p{margin:20px auto;font-family:PFBold;font-size:30px;text-align:center;line-height:25px;}
.feedback .fields form{text-align:center;}
.feedback .fields form input{width:100%;height:36px;border:1px solid #d1d2d3;margin-bottom:13px;padding-left:15px;font-family:PFReg;font-size:12px;border-radius:5px;}
.feedback .fields form textarea{width:100%;height:88px;padding-left:15px;font-family:PFReg;font-size:12px;border-radius:5px;padding-top:12px;border:1px solid #d1d2d3;margin-bottom:20px;}
.feedback .fields form input[type=button]{width:56%;background:#f34c51;padding:0;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;}
.footer{background:#f7f7f7;}
.footer .firm,
.footer .maker{padding:0;}
.footer .firm p{float:left;font-family:PFReg;line-height:75px;margin:0;font-size:18px;}
.footer .maker p{float:right;font-family:PFReg;line-height:75px;margin:0;font-size:18px;}
.footer .maker p a{color:#333;}
.raskr-inf h2{font-size:30px;font-family:PFBold;margin:20px 0 45px 0;}
.raskr-inf .block{margin-bottom:30px;}
.raskr-inf .block .head{font-family:PFBold;font-size:16px;margin:0;}
.raskr-inf .block .foot{font-family:PFReg;font-size:16px;}
.breadcrumb{margin-bottom:0;padding:30px 0;font-family:PFReg;}
.breadcrumb a{color:#393185}
.info .block h2{font-size:30px;font-family:PFBold;line-height:40px;}
.info .block{padding-left:40px;position:relative;}
.info .block .klient .pack{display:table;}
.info .block.klient .pack .pl{display:table-cell;width:80px;height:30px;font-family:PFBold;color: #5c5c5c;      font-size: 20px;      line-height: 28px;      font-weight: bold;}
.info .block.klient .pack .pr{display:table-cell;}
.info .klient .pack .pr a{height:30px;font-family:PFBold;color: #5c5c5c;      font-size: 20px;      line-height: 28px;      font-weight: bold;}
.info .block span{font-family:PFBold;color: #5c5c5c;font-size: 20px;line-height: 28px;font-weight: bold;display: block;}
.info{padding-bottom:70px;}
.gmap{height:565px;}
.map .callback{position:relative;background-image:none;}
.map .callback .cb-form{z-index:100;background:white;position:absolute;height:310px;width:410px;border-radius:5px;box-shadow:0 -5px #d43236;top:-435px;left: 70px;}
.map .callback .cb-form p{margin:30px auto;font-family:PFBold;font-size:30px;text-align:center;line-height:25px;}
.map .callback .cb-form form{text-align:center;}
.map .callback .cb-form input{width:318px;height:36px;border:1px solid #d1d2d3;margin-bottom:13px;padding-left:15px;font-family:PFReg;font-size:12px;border-radius:5px;}
.map .callback .cb-form input[type=button]{width:180px;background:#f34c51;padding:0;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;margin-top:10px;}
.why-we{background:#f7f7f7;padding-bottom:45px;}
.why-we h2{margin:60px 0 10px 0;font-size:30px;font-family:PFBold;}
.why-we p{font-size:18px;font-family:PFReg;margin-bottom:40px;}
.why-we .ww-1{float:left;margin-right:131px;width:300px;}
.why-we .ww-1 .ww-up{height:110px;background:url("../img/pig.png") no-repeat left center;background-size:82px 82px;}
.why-we [class^="ww-"] .ww-up p{font-family:PFBold;font-size:30px;margin:0;margin-left:105px;line-height:110px;}
.why-we [class^="ww-"] .ww-down p{font-size:16px;font-family:PFReg;margin:0;}
.why-we .ww-2{float:left;margin-right:133px;width:300px;}
.why-we .ww-2 .ww-up{height:110px;background:url("../img/clock.png") no-repeat left center;background-size:82px 82px;}
.why-we .ww-3{float:left;width:276px;}
.why-we .ww-3 .ww-up{height:110px;background:url("../img/bag.png") no-repeat left center;background-size:82px 82px;}
.how-we-work{padding-bottom:95px;}
.how-we-work h2{margin:85px 0 10px 0;font-size:30px;font-family:PFBold;}
.how-we-work p{font-size:18px;font-family:PFReg;margin-bottom:40px;}
.how-we-work .hww{padding:0;}
.how-we-work .hww{width:20%;float:left;}
.how-we-work .hww .hww-bg{height:185px;cursor:pointer;position:relative;}
.how-we-work .hww .hww-bg:before{color:#fff;font-size:72px;line-height:160px;text-align:center;font-weight:bold;display:block;position:absolute;top:0px;left:50%;margin-left:-80px;width:160px;height:160px;background-color:rgba(83,72,195,0.40);border-radius:50%;opacity:1;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.how-we-work .hww:hover .hww-bg:before{opacity:0;}
.how-we-work .hww:nth-child(1) .hww-bg{background:url("../img/1h.png") no-repeat center top;}
.how-we-work .hww:nth-child(2) .hww-bg{background:url("../img/2h.png") no-repeat center top;}
.how-we-work .hww:nth-child(3) .hww-bg{background:url("../img/3h.png") no-repeat center top;}
.how-we-work .hww:nth-child(4) .hww-bg{background:url("../img/4h.png") no-repeat center top;}
.how-we-work .hww:nth-child(5) .hww-bg{background:url("../img/5h.png") no-repeat center top;}
.how-we-work .hww:nth-child(1) .hww-bg:before{content:"1";}
.how-we-work .hww:nth-child(2) .hww-bg:before{content:"2";}
.how-we-work .hww:nth-child(3) .hww-bg:before{content:"3";}
.how-we-work .hww:nth-child(4) .hww-bg:before{content:"4";}
.how-we-work .hww:nth-child(5) .hww-bg:before{content:"5";}
.how-we-work .hww-p{text-align:center;}
.how-we-work .hww-p p{width:180px;margin:0 auto;font-family:PFReg;font-size:15px;line-height:22px;}
.heads{background:#f7f7f7;padding-bottom:65px;}
.heads h2{margin:80px 0 35px 0;font-size:30px;font-family:PFBold;}
.heads .photo{height:190px;background:url("../img/direktor.png") no-repeat left center;padding-left:0;}
.heads .heads-info{padding-left:0;padding-right:65px;}
.heads .heads-info .name{font-family:PFBold;font-size:30px;margin:0;line-height:30px;}
.heads .heads-info .work{font-family:PFBold;font-size:16px;line-height:16px;margin-top:10px;}
.heads .heads-info .desc{font-family:PFReg;font-size:16px;margin-top:30px;line-height:20px;}
.heads .docs{background:white;padding:24px 0 25px 42px;}
.heads .docs p{font-family:PFBold;font-size:30px;margin:0 0 20px;}
.heads .docs ul{margin:0;padding:0;}
.heads .docs ul li{list-style:none;}
.heads .docs ul li a{font-family:PFReg;font-size:16px;text-decoration:underline;color:black;display:block}
.heads .docs ul li a:hover{color:#5348c3}
.big-news{padding-top:20px;padding-bottom:80px;}
.big-news .title{float:right;}
.big-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:30px;line-height:25px;margin-top:-7px;margin-bottom:20px;width:50%;display:inline-block;}
.big-news .title .date{font-family:PFReg;font-size:25px;width:25%;float:right;margin-top:-7px;margin-bottom:20px;line-height:25px;display:inline-block;text-align:right;}
.big-news .pic{float:left;}
.big-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
.big-news .p1{float:right;font-family:PFReg;font-size:16px;}
.big-news .p2{float:right;font-family:PFReg;font-size:16px;}
.big-news .button{display:none;}
.little-news{background:#f7f7f7;padding-top:90px;}
.little-news .row{margin-bottom:80px;}
.little-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:30px;line-height:25px;margin-top:-7px;margin-bottom:20px;width:50%;display:inline-block;}
.little-news .title .date{font-family:PFReg;font-size:25px;width:25%;float:right;margin-top:-7px;margin-bottom:20px;line-height:25px;display:inline-block;text-align:right;}
.little-news .pic{float:left;}
.little-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
.little-news .p1{float:right;font-family:PFReg;font-size:16px;margin-top:-10px;}
.news-feed{height:365px;background:url("../img/news-foot.png") no-repeat center;position:relative;}
.news-feed .nf-inner{height:235px;width:415px;position:absolute;left:23%;top:calc((100% - 235px)/2);background:white;box-shadow:0 -5px #d43236;border-radius:5px;padding:0 50px;}
.news-feed .nf-inner p{margin:30px auto 25px;font-family:PFBold;font-size:30px;text-align:center;line-height:25px;}
.news-feed .nf-inner form{text-align:center;}
.news-feed .nf-inner form input{width:100%;height:36px;border:1px solid #d1d2d3;margin-bottom:20px;padding-left:15px;font-family:PFReg;font-size:12px;border-radius:5px;}
.news-feed .nf-inner form input[type=button]{width:56%;background:#f34c51;padding:0;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;}
.info-block{padding-top:80px;padding-bottom:80px;}
.info-block .cont-right{float:right;}
.info-block .cont-right img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
.info-block .p-1{float:right;font-family:PFReg;font-size:16px;margin-bottom:30px;}
.info-block .p-2{float:right;font-family:PFReg;font-size:16px;}
.our-partners{padding:75px 0 65px 0;}
.our-partners h2{font-family:PFBold;font-size:30px;margin-bottom:65px;}
.our-partners .owl-carousel{padding:0px 40px}
@media (max-width:1199px){.big-news .button{display:block;}
    .info .block span{display:inline-block;}
    .our-serv{background:#f7f7f7;}
    .os-1{background:#f7f7f7 url("../img/pig.png") no-repeat left center;height:120px;background-size:60px 60px;padding:0;width:37%;float:left;}
    .os-2{background:#f7f7f7 url("../img/clock.png") no-repeat left center;height:120px;background-size:60px 60px;padding:0;width:38%;float:left;}
    .os-3{background:#f7f7f7 url("../img/bag.png") no-repeat left center;height:120px;background-size:60px 60px;padding:0;width:25%;float:left;}
    .our-serv .os-cell p{margin-left:80px;}
    .our-serv .os-cell .p-1{font-family:PFBold;margin-top:35px;font-size:20px;line-height:20px;}
    .our-serv .os-cell .p-2{font-family:PFReg;margin-top:10px;font-size:12px;line-height:12px;}
    .left-kl, .right-kl{float:left;}
    .right-kl{margin-left:90PX;}
    .header .head-right button{float:none;}
    .header .head-right .phones .velcom a,
    .header .head-right .phones .mts a{font-size:16px;}
    .header .list li a{line-height:40px;font-family:PFReg;font-size:16px;padding:0 20px;display:block;color:black;}
    .slide .offer-up{position:absolute;top:calc((100% - 270px)/2);left:calc((100% - 390px)/2);width:390px;}
    .about-us{padding-top:42px;padding-bottom:40px;}
    .about-us .title,
    .about-us .p1,
    .about-us .p2,
    .about-us .button{padding-left:15px;}
    .about-us .button{padding-top:6px;}
    .about-us .p2{margin-top:15px;}
    .service{padding-top:42px;padding-bottom:5px;}
    .service h2{margin:0 0 10px 0;font-size:30px;font-family:PFBold;}
    .service p{font-size:16px;font-family:PFReg;margin-bottom:24px;}
    .service .service-block .sb{width:345px;box-shadow:0 5px #393185;border-radius:5px;margin:0 auto 25px;}
    .service .service-block .sb .bg{width:345px;height:78px;}
    .sb-1 .bg{background:url("../img/kart-usl-1.jpg") no-repeat center;background-size:cover;}
    .sb-2 .bg{background:url("../img/kart-usl-2.jpg") no-repeat center;background-size:cover;}
    .sb-3 .bg{background:url("../img/kart-usl-3.jpg") no-repeat center;background-size:cover;}
    .sb-4 .bg{background:url("../img/kart-usl-4.jpg") no-repeat center;background-size:cover;}
    .sb a{display:block;width:345px;height:78px;background:#665ad7 url("../img/key.png") no-repeat 20px center;background-size:54px 54px;padding-left:86px;padding-top:16px;position:relative;text-decoration:none;}
    .sb a p{font-size:20px;font-family:PFBold;color:white;width:180px;line-height:24px;}
    .feedbacks .button{margin-bottom:40px;}
    .feedbacks h2{margin:40px 0 35px;}
    .feedbacks .feed-1{padding:0 15px;margin-bottom:30px;}
    .feedbacks .feed-2{padding:0 15px;}
    .feedback .fields{height:415px;left:calc((100% - 415px)/2);top:calc((100% - 415px)/2);}
    .gmap{height:140px;}
    .map .callback{position:relative;height:500px;background:url("../img/foot.jpg") no-repeat center;background-size:cover;}
    .map .callback .cb-form{z-index:100;background:white;position:absolute;height:310px;width:410px;border-radius:5px;box-shadow:0 -5px #d43236;top:95px;left:calc((100% - 410px)/2);}
    .why-we{background:#f7f7f7;padding-bottom:10px;}
    .why-we h2{margin:30px 0 20px 0;font-size:30px;font-family:PFBold;}
    .why-we p{font-size:18px;font-family:PFReg;margin-bottom:40px;}
    .why-we .ww-1{float:left;margin-right:14%;width:24%;margin-bottom:30px;}
    .why-we .ww-1 .ww-up{height:75px;background:url("../img/pig.png") no-repeat left center;background-size:60px 60px;}
    .why-we [class^="ww-"] .ww-up p{font-family:PFBold;font-size:20px;margin:0;margin-left:75px;line-height:75px;}
    .why-we [class^="ww-"] .ww-down p{font-size:12px;font-family:PFReg;margin:0;}
    .why-we .ww-2{float:left;margin-right:14%;width:24%;margin-bottom:30px;}
    .why-we .ww-2 .ww-up{height:75px;background:url("../img/clock.png") no-repeat left center;background-size:60px 60px;}
    .why-we .ww-3{float:left;margin-bottom:30px;width:24%;}
    .why-we .ww-3 .ww-up{height:75px;background:url("../img/bag.png") no-repeat left center;background-size:60px 60px;}
    .how-we-work h2{margin:40px 0 20px 0;font-size:30px;font-family:PFBold;}
    .how-we-work p{font-size:16px;font-family:PFReg;margin-bottom:25px;}
    .how-we-work .row{text-align:center;}
    .how-we-work .hww{display:inline-block;float:none;margin:0 auto;width:32.3333%;}
    .how-we-work .hww-p{text-align:center;margin-bottom:30px;}
    .how-we-work .hww-p p{width:80%;margin:0 auto;font-family:PFReg;font-size:14px;line-height:14px;}
    .heads{background:#f7f7f7;padding-bottom:40px;}
    .heads h2{margin:40px 0 35px 0;font-size:30px;font-family:PFBold;}
    .heads .photo{height:190px;background:url("../img/direktor.png") no-repeat left center;padding-left:0;}
    .heads .heads-info{padding-left:0;padding-right:65px;}
    .heads .heads-info .name{font-family:PFBold;font-size:30px;margin:0;line-height:30px;}
    .heads .heads-info .work{font-family:PFBold;font-size:16px;line-height:16px;margin-top:10px;}
    .heads .heads-info .desc{font-family:PFReg;font-size:16px;margin-top:30px;line-height:20px;}
    .heads .docs{display:none;}
    .big-news{padding-top:20px;padding-bottom:80px;}
    .big-news .title{float:none;}
    .big-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:30px;line-height:25px;margin-top:-7px;margin-bottom:20px;width:50%;display:inline-block;}
    .big-news .title .date{font-family:PFReg;font-size:25px;width:25%;float:right;margin-top:-7px;margin-bottom:20px;line-height:25px;display:inline-block;text-align:right;}
    .big-news .pic{float:left;}
    .big-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .big-news .p1{float:right;font-family:PFReg;font-size:16px;}
    .big-news .p2{display:none;}
    .little-news{background:#f7f7f7;padding-top:40px;}
    .little-news .row{margin-bottom:40px;}
    .little-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:30px;line-height:25px;margin-top:-7px;margin-bottom:20px;width:50%;display:inline-block;}
    .little-news .title .date{font-family:PFReg;font-size:25px;width:25%;float:right;margin-top:-7px;margin-bottom:20px;line-height:25px;display:inline-block;text-align:right;}
    .little-news .pic{float:left;}
    .little-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .little-news .p1{float:right;font-family:PFReg;font-size:14px;line-height:18px;}
    .news-feed .nf-inner{height:235px;width:415px;position:absolute;left:calc((100% - 415px)/2);top:calc((100% - 235px)/2);}
    #button-top{width:32px;height:30px;box-shadow:0 2px #393185;border:0px;background:#5348c3;position:fixed;z-index:101;bottom:95px;right:25px;border-radius:5px;}
    #button-top:after{content:'\e90c';font-family:'icomoon';color:#fff;font-size:15px;display:block;margin-left:1px;margin-top:-5px;-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}
    #button-top:hover{cursor:pointer;}
    .info-block{padding-top:35px;padding-bottom:65px;}
    .info-block .cont-right{float:right;}
    .info-block .cont-right img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .info-block .p-1{display:none;}
    .info-block .p-2{float:right;margin-top:-7px;font-family:PFReg;font-size:16px;}
    .our-partners{padding:40px 0 35px 0;}
    .our-partners h2{font-family:PFBold;font-size:30px;margin-bottom:35px;}
}
@media (max-width:767px){.left-kl,
.right-kl{float:none;margin-left:0;}
    .navbar-brand{background-size:contain;min-height:50px;}
    .navbar-collapse{}
    .header .head-right{padding:0;background:#f7f7f7;text-align:center;}
    .header .head-right .phones .velcom a,
    .header .head-right .phones .mts a{font-size:16px;}
    .header .head-right button{float:none;width:140px;height:28px;}
    .header .head-right .phones,
    .header .head-right .hb{text-align:center;}
    .header .list{margin:0;padding:0;}
    .header .list li{display:block;text-align:center;}
    .header .list li:hover{background:#5348c3;}
    .header .list li:hover a{color:white;text-decoration:none;background:#5348c3;}
    .header .list li a{line-height:30px;height:30px;font-family:PFReg;font-size:12px;display:block;color:black;text-align:left;}
    .slide{height:245px;width:100%;position:relative;}
    .slide .carousel-inner .item{width:100%;height:245px;}
    .slide .carousel-inner .active{background:url("../img/slide.jpg") no-repeat center;}
    .slide .carousel-indicators li{display:none;}
    .slide .carousel-indicators .active{background:#f34c51;}
    .slide .offer-up{position:absolute;top:calc((100% - 180px)/2);left:calc((100% - 245px)/2);width:245px;height:180px;}
    .slide .offer{width:245px;height:180px;background:#fff;box-shadow:0 -5px #d63237;border-radius:5px;padding:18px 20px 0 15px;}
    .slide .offer h2{font-family:PFBold;font-size:16px;margin:0;}
    .slide .offer p{margin:0;margin-top:15px;font-size:10px;font-family:PFReg;margin-bottom:20px;}
    .blue-button{padding:10px 10px;color:white;font-family:PFReg;font-size:14px;line-height:35px;padding-right:0;background:#5348c3;box-shadow:0 2px #393185;border-radius:3px;}
    .blue-button:after{content:'\e90c';font-family:icomoon;font-size:14px;background:#665ad7;padding:8px 12px;margin-left:10px;border-radius:3px;box-shadow:0 2px #5348c3;font-weight:bold;z-index:100}
    .about-us{background:#f7f7f7;padding-top:30px;padding-bottom:30px;}
    .about-us .title{float:right;padding-left:15px;}
    .about-us .title h2{padding:0;margin:0;font-family:PFBold;font-size:20px;line-height:20px;margin-bottom:20px;}
    .about-us .pic{float:left;}
    .about-us .pic img{margin-bottom:20px;box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .about-us .p1{float:right;font-family:PFReg;font-size:12px;display:none;}
    .about-us .p2{float:right;font-family:PFReg;font-size:12px;line-height:14px;margin-top:0;}
    .about-us .button{padding-top:20px;}
    .service{padding:0px 0 30px 0;}
    .service h2{margin:0 0 20px 0;font-size:20px;font-family:PFBold;}
    .service p{font-size:12px;font-family:PFReg;margin-bottom:40px;}
    .service .service-block .sb{width:290px;box-shadow:0 5px #393185;border-radius:5px;margin:0 auto 25px;}
    .service .service-block .sb .bg{width:290px;height:65px;}
    .sb-1 .bg{background:url("../img/kart-usl-1.jpg") no-repeat center;background-size:cover;}
    .sb-2 .bg{background:url("../img/kart-usl-2.jpg") no-repeat center;background-size:cover;}
    .sb-3 .bg{background:url("../img/kart-usl-3.jpg") no-repeat center;background-size:cover;}
    .sb-4 .bg{background:url("../img/kart-usl-4.jpg") no-repeat center;background-size:cover;}
    .sb a{display:block;width:290px;height:65px;background:#665ad7 url("../img/key.png") no-repeat 15px center;background-size:45px 45px;padding-left:86px;padding-top:14px;position:relative;}
    .sb a p{font-size:16px;font-family:PFBold;color:white;width:140px;line-height:20px;}
    .feedbacks h2{margin-top:30px;margin-bottom:20px;font-family:PFBold;font-size:20px;padding-left:0;}
    .our-serv{background:#f7f7f7;padding:20px 0;padding-left:24px;}
    .os-1{background:#f7f7f7 url("../img/pig.png") no-repeat left center;background-size:53px 53px;height:63px;padding:0;width:100%}
    .os-2{background:#f7f7f7 url("../img/clock.png") no-repeat left center;height:63px;background-size:53px 53px;padding:0;width:100%}
    .os-3{background:#f7f7f7 url("../img/bag.png") no-repeat left center;background-size:53px 53px;height:63px;padding:0;width:100%;}
    .our-serv .os-cell p{margin-left:68px;}
    .our-serv .os-cell .p-1{font-family:PFBold;margin-top:10px;font-size:20px;line-height:20px;}
    .our-serv .os-cell .p-2{font-family:PFReg;margin-top:10px;font-size:12px;line-height:12px;}
    .feedbacks .feed-1{padding:0 15px;}
    .feedbacks .feed-2{padding:0 15px;}
    .feedbacks .feed .top-part{height:55px;background:#665ad7;box-shadow:0 1px 1px #c5c5c5;}
    .feedbacks .feed .top-part p{margin-left:75px;}
    .feedbacks .feed .top-part .p-1{padding-top:10px;font-family:PFBold;font-size:20px;line-height:20px;color:white;margin-bottom:5px;}
    .feedbacks .feed .top-part .p-2{margin-top:0;margin-bottom:0;font-family:PFReg;font-size:12px;color:white;line-height:12px;}
    .feedbacks .feed .bottom-part{padding:15px 20px 20px 30px;}
    .feedbacks .feed .bottom-part p{font-family:PFReg;font-size:12px;}
    .feedbacks .feed-1 .top-part{background-image:url("../img/male.png");background-position:20px center;background-repeat:no-repeat;background-size:45px 45px;}
    .feedbacks .feed-2 .top-part{background-image:url("../img/female.png");background-position:20px center;background-repeat:no-repeat;background-size:45px 45px;}
    .feedbacks .button{margin-top:20px;padding:0;margin-bottom:30px;}
    .feedback{height:390px;background:url("../img/foot.jpg") no-repeat center;position:relative;}
    .feedback .fields{height:325px;width:290px;position:absolute;left:calc((100% - 290px)/2);top:calc((100% - 325px)/2);background:white;box-shadow:0 -5px #d43236;border-radius:5px;padding:0 50px;}
    .feedback .fields p{margin:20px auto;font-family:PFBold;font-size:20px;text-align:center;line-height:20px;}
    .feedback .fields form{text-align:center;}
    .feedback .fields form input{width:100%;height:28px;border:1px solid #d1d2d3;margin-bottom:10px;padding-left:10px;font-family:PFReg;font-size:12px;border-radius:5px;}
    .feedback .fields form textarea{width:100%;height:67px;padding-left:10px;font-family:PFReg;font-size:12px;border-radius:5px;padding-top:9px;border:1px solid #d1d2d3;margin-bottom:15px;}
    .feedback .fields form input[type=button]{width:56%;background:#f34c51;padding:0;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;}
    .footer .firm p{float:left;font-family:PFReg;line-height:16px;margin:14px 0 0 15px;font-size:12px;}
    .footer .maker p{float:left;font-family:PFReg;line-height:16px;margin:0 0 14px 15px;font-size:12px;}
    .raskr-inf h2{font-size:20px;font-family:PFBold;margin:10px 0 20px 0;}
    .raskr-inf .block{margin-bottom:20px;}
    .raskr-inf .block .head{font-family:PFBold;font-size:12px;margin:0;}
    .raskr-inf .block .foot{font-family:PFReg;font-size:12px;}
    .info .block h2{font-size:20px;font-family:PFBold;line-height:25px;}
    .info .block.klient .pack .pl{display:table-cell;width:70px;height:20px;font-family:PFBold;font-size:12px;}
    .info .block.klient .pack .pr{display:table-cell;}
    .info .klient .pack .pr a{height:20px;font-family:PFBold;font-size:12px;color:black;}
    .info .block span{font-family:PFBold;font-size:12px;color:black;}
    .gmap{height:80px;}
    .map .callback{position:relative;height:315px;background:url("../img/foot.jpg") no-repeat center;background-size:cover;}
    .map .callback .cb-form{z-index:100;background:white;position:absolute;height:250px;width:290px;border-radius:5px;box-shadow:0 -5px #d43236;top:calc((315px - 250px)/2);left:calc((100% - 290px)/2);}
    .map .callback .cb-form p{margin:30px auto;font-family:PFBold;font-size:20px;text-align:center;line-height:20px;}
    .map .callback .cb-form form{text-align:center;}
    .map .callback .cb-form input{width:242px;height:25px;border:1px solid #d1d2d3;margin-bottom:9px;padding-left:10px;font-family:PFReg;font-size:12px;border-radius:5px;}
    .map .callback .cb-form input[type=button]{width:140px;height:25px;background:#f34c51;padding:0;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;margin-top:10px;}
    .breadcrumb{margin-bottom:0;padding:15px 0px 5px;font-family:PFReg;}
    .why-we{background:#f7f7f7;padding-bottom:10px;}
    .why-we h2{margin:30px 0 20px 0;font-size:20px;font-family:PFBold;}
    .why-we p{font-size:12px;font-family:PFReg;margin-bottom:40px;}
    .why-we .ww-1{float:left;margin-right:14%;width:100%;padding-left:38px;padding-right:38px;}
    .why-we .ww-1 .ww-up{height:67px;background:url("../img/pig.png") no-repeat left center;background-size:54px 54px;}
    .why-we [class^="ww-"] .ww-up p{font-family:PFBold;font-size:20px;margin:0;margin-left:70px;line-height:67px;}
    .why-we [class^="ww-"] .ww-down p{font-size:12px;font-family:PFReg;margin:0;}
    .why-we .ww-2{float:left;margin-right:14%;width:100%;padding-left:38px;padding-right:38px;}
    .why-we .ww-2 .ww-up{height:67px;background:url("../img/clock.png") no-repeat left center;background-size:54px 54px;}
    .why-we .ww-3{float:left;margin-bottom:30px;width:100%;padding-left:38px;padding-right:38px;}
    .why-we .ww-3 .ww-up{height:67px;background:url("../img/bag.png") no-repeat left center;background-size:54px 54px;}
    .how-we-work{padding-bottom:10px;}
    .how-we-work h2{margin:30px 0 20px 0;font-size:20px;font-family:PFBold;}
    .how-we-work p{font-size:12px;font-family:PFReg;margin-bottom:25px;}
    .how-we-work .hww{width:100%;}
    .how-we-work .hww-p{text-align:center;margin-bottom:30px;}
    .how-we-work .hww-p p{width:80%;margin:0 auto;font-family:PFReg;font-size:14px;line-height:14px;}
    .heads{background:#f7f7f7;padding-bottom:25px;}
    .heads h2{margin:30px 0 20px 0;font-size:20px;font-family:PFBold;}
    .heads .photo{height:115px;background:url("../img/direktor.png") no-repeat left center;background-size:contain;padding-left:0;}
    .heads .heads-info{padding-left:0;padding-right:15px;}
    .heads .heads-info .name{font-family:PFBold;font-size:20px;margin:0;line-height:20px;}
    .heads .heads-info .work{font-family:PFBold;font-size:12px;line-height:12px;margin-top:10px;}
    .heads .heads-info .desc{font-family:PFReg;font-size:12px;margin-top:15px;line-height:16px;}
    .heads .docs{display:none;}
    .big-news{padding-top:10px;padding-bottom:30px;}
    .big-news .title{float:none;}
    .big-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:20px;line-height:20px;margin-bottom:20px;width:75%;display:inline-block;margin-top:0;}
    .big-news .title .date{font-family:PFReg;font-size:16px;width:25%;float:right;margin-bottom:20px;line-height:20px;display:inline-block;text-align:right;margin-top:0;}
    .big-news .pic{float:left;}
    .big-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .big-news .p1{float:right;font-family:PFReg;font-size:16px;margin-top:20px;}
    .big-news .p2{float:right;font-family:PFReg;font-size:16px;}
    .big-news .button{display:block;}
    .little-news{background:#f7f7f7;padding-top:30px;}
    .little-news .row{margin-bottom:30px;}
    .little-news .title h2{padding:0;margin:0;font-family:PFBold;font-size:20px;line-height:20px;margin-top:0;margin-bottom:20px;width:75%;display:inline-block;}
    .little-news .title .date{font-family:PFReg;font-size:16px;width:25%;float:right;margin-top:0;margin-bottom:20px;line-height:20px;display:inline-block;text-align:right;}
    .little-news .pic{float:none;}
    .little-news .pic img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .little-news .p1{float:right;font-family:PFReg;font-size:16px;margin-top:20px;}
    .news-feed{height:255px;background:url("../img/news-foot.png") no-repeat center;position:relative;}
    .news-feed .nf-inner{height:200px;width:290px;position:absolute;left:calc((100% - 290px)/2);top:calc((100% - 200px)/2);background:white;box-shadow:0 -5px #d43236;border-radius:5px;padding:0 23px;}
    .news-feed .nf-inner p{margin:30px auto 20px;font-family:PFBold;font-size:20px;text-align:center;line-height:20px;}
    .news-feed .nf-inner form{text-align:center;}
    .news-feed .nf-inner form input{width:100%;height:28px;border:1px solid #d1d2d3;margin-bottom:20px;padding-left:15px;font-family:PFReg;font-size:12px;border-radius:5px;}
    .news-feed .nf-inner form input[type=button]{width:56%;background:#f34c51;padding:0;height:28px;box-shadow:0 2px #d43236;border:none;font-family:PFReg;color:white;}
    #button-top{font-size:30px;color:white;width:32px;height:30px;box-shadow:0 2px #393185;background:#5348c3;position:fixed;z-index:101;bottom:15px;right:15px;border-radius:5px;}
    #button-top:hover{cursor:pointer;}
    .info-block{padding-top:35px;padding-bottom:40px;}
    .info-block .cont-right{float:none;}
    .info-block .cont-right img{box-shadow:0 -5px #393185;border-radius:5px;width:100%;}
    .info-block .p-1{display:none;}
    .info-block .p-2{float:right;margin-top:20px;font-family:PFReg;font-size:12px;}
    .our-partners{padding:30px 0 25px 0;}
    .our-partners h2{font-family:PFBold;font-size:20px;margin-bottom:18px;}
}