* {
    box-sizing: border-box;
}


/*







GENERAL STYLES









*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    background: url("../img/fon1.jpg") no-repeat center top;
}

.icon-star-empty:before {
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
}

.icon-key:before {
    font-family: 'icomoon';
    color: white;
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    top: 16px;
    left: 15px;
    z-index: 5;
}

.icon-lock:before {
    font-family: 'icomoon';
    color: #e3a308;
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    top: 16px;
    left: 15px;
    z-index: 5;
}

.icon-stats-dots:before {
    font-family: 'icomoon';
    font-size: 40px;
    position: absolute;
    left: 45px;
}

.icon-google-plus:before {
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 4px;
    color: black;
}

.icon-facebook:before {
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 3px;
    color: black;
}

.icon-instagram:before {
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 4px;
    color: black;
}

.icon-twitter:before {
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 4px;
    color: black;
}

.icon-skype:before {
    position: relative;
    left: 0;
    top: 1px;
    color: #454545;
    font-size: 20px;
}

.icon-mail:before {
    position: relative;
    left: 0;
    top: 1px;
    color: #454545;
    font-size: 20px;
}

.icon-vk:before {
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 4px;
    color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
    min-height: 1px;
}

.header,
.footer {
    background: #272727 !important;
}

.header {
    height: 45px;
}

.header .head-first,
.header .head-second,
.header .language {
    float: left;
    height: 45px;
    border-right: 2px solid #000;
}

.yellow {
    color: #e3a308;
    font-size: 14px;
}

.white {
    color: #fff;
    font-size: 14px;
}

.header .yellow {
    line-height: 45px;
}

.header .white {
    line-height: 45px;
}

.language .rus,
.language .eng {
    color: #fff;
    font-size: 16px;
    display: inline-block
}

.header .head-second {
    padding: 0 42px;
}

.header .head-first {
    padding-right: 40px;
}

.header .language .rus {
    padding: 0 19px 0 19px;
}

.header .language .eng {
    padding: 0 19px 0 19px;
}

.head-first .skype,
.head-first .skype-chat {
    padding-right: 60px;
}

.header .head-first a {
    line-height: 45px;
    text-decoration: none;
    font-style: normal;
    position: relative
}

.header .head-first a span {
    font-family: Open Sans !important;
}

.header .head-first a:hover span {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header .language a:hover,
.header .language a:active {
    font-weight: bold;
    background: none;
    /*треугольник снизу*/
}

.header .language a {
    position: relative;
    color: #e3a308;
    line-height: 45px;
}

.header .language a:hover,
.header .language a:active {
    color: #fff;
}

.header .language a:hover::after,
.header .language a:active::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 28px;
    bottom: 0;
    /* Положение треугольника */
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.header .social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.social a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50px;
    position: relative
}

.social a:hover {
    background: #aaa;
}

.footer .fup {
    height: 143px;
}

.footer .fup .logo {
    width: 300px;
    height: 143px;
    background: url("../img/foot-logo.png") no-repeat left center;
    float: left;
}

.footer .fup ul {
    padding: 0;
    margin: 0;
    float: left
}

.footer .fup ul li {
    display: inline;
    float: left;
    width: 150px;
    height: 143px;
    text-align: center
}

.footer .fup ul li a {
    display: block;
    padding-top: 80px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer .fup ul li a:hover {
    text-decoration: underline;
}

.footer .fdown {
    display: table;
    content: '';
    clear: both;
    padding: 40px 0;
    border-top: 2px solid #323233;
}

.footer .fdown ul {
    float: left;
    vertical-align: top;
    margin: 0;
    padding: 0 134px 0 0;
    border-right: 2px solid #2c2c2c;
    height: 100px;
}

.footer .fdown ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer .fdown ul li a {
    text-decoration: none;
    font-style: normal;
    position: relative
}

.footer .fdown ul li a span {
    font-family: 'Open Sans' !important;
}

.footer .fdown ul li a:hover span {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.footer .fdown .social {
    float: left;
    text-align: center;
    vertical-align: top;
    border-right: 2px solid #2c2c2c;
    padding: 0 60px;
    height: 100px;
}

.footer .fdown .social p {
    margin: 9px auto 25px;
}

.footer .fdown .protect {
    border-right: 2px solid #2c2c2c;
    height: 100px;
    float: left;
    padding: 0 105px 0 50px;
    background: url("../img/footer-ddos.png") no-repeat, url("../img/footer-ssl.png") no-repeat;
    background-size: 84px 51px, 43px 51px;
    background-position: 50px 42px, 172px 42px;
}

.footer .fdown .protect p {
    margin: 10px 0 0;
}

.footer .fdown .copy {
    width: 325px;
    height: 100px;
    float: left;
    padding-left: 40px;
}

.footer .fdown .copy .yellow {
    margin: 10px 0 25px;
}

.footer .fdown .copy .white {
    margin: 0;
    font-size: 12px;
}

.body-head {
    width: 100%;
    display: table;
    content: '';
    clear: both;
    background: url("../img/slaid2.png") no-repeat center top;
}

.menu {
    height: 145px;
}

.menu .menu-bg {
    float: left;
    height: 145px;
    width: 348px;
    background: url("../img/head-logo.png") no-repeat left center;
}

.menu ul {
    float: left;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
    display: inline;
    float: left;
    height: 125px;
}

.menu ul li .first {
    display: block;
    width: 108px;
    height: 125px;
    border-left: 2px solid #cdd9df;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon1.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li .second {
    display: block;
    width: 160px;
    height: 125px;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon2.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li .third {
    display: block;
    width: 124px;
    height: 125px;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon3.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li .fourth {
    display: block;
    width: 140px;
    height: 125px;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon4.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li .fifth {
    display: block;
    width: 150px;
    height: 125px;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon5.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li .sixth {
    display: block;
    width: 130px;
    height: 125px;
    border-right: 2px solid #cdd9df;
    background: url("../img/micon6.png") no-repeat center 27px;
    font-size: 14px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    position: relative;
}

.menu ul li a:hover,
.menu ul li a:active{
    background-color: #e1a71a;
}

.menu ul li .first:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
}

.menu ul li .second:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}

.menu ul li .third:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
}

.menu ul li .fourth:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.menu ul li .fifth:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.menu ul li .sixth:hover::after {
    content: '';
    bottom: -20px;
    left: 0;
    position: absolute;
    border-top: 20px solid #e1a71a;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}

.breadcrums {
    margin: 0;
    padding: 0;
    margin: 18px 0 25px;
}

.breadcrums li {
    display: inline;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: #999;
    line-height: 1;
}

.breadcrums li:not(.active):after {
    content: '/';
    margin: 0 8px;
}

.breadcrums li a {
    font-size: 12px;
    text-decoration: none;
    color: #999;
    line-height: 1;
}

.breadcrums li a:hover {
    text-decoration: underline;
    color: blue;
}


/*





MAIN PAGE STYLES





*/

body#main_page {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    background: url("../img/fon-main.jpg") no-repeat center top;
}

.body-head .enter {
    height: 480px;
    position: relative;
}

a.login {
    display: block;
    height: 60px;
    width: 175px;
    background-color: #6b9d31;
    border: none;
    position: relative;
    left: 775px;
    top: 30px;
    text-decoration: none;
}

a.login span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: Open Sans !important;
    line-height: 60px;
    margin-left: 70px;
}

a.login:before {
    content: '';
    position: absolute;
    border-top: 60px solid #6b9d31;
    border-right: 0 solid #6b9d31;
    border-left: 24px solid transparent;
    left: -24px;
    top: 0px;
}

a.login:after {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-left: 17px solid #6b9d31;
    left: 175px;
    top: 0px;
}

a.reg {
    display: block;
    height: 60px;
    width: 225px;
    background: -webkit-linear-gradient(#fff, #efeded);
    background: -o-linear-gradient(#fff, #efeded);
    background: -moz-linear-gradient(#fff, #efeded);
    background: linear-gradient(#fff, #efeded);
    text-decoration: none;
    border: none;
    position: relative;
    left: 799px;
    top: 30px;
}

a.reg span {
    color: #e3a308;
    font-size: 20px;
    font-family: 'Open Sans' !important;
    line-height: 60px;
    margin-left: 57px;
}

a.reg:before {
    content: '';
    position: absolute;
    border-top: 60px solid #efeded;
    border-right: 0 solid #efeded;
    border-left: 24px solid transparent;
    left: -24px;
    top: 0px;
}

a.reg:after {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-left: 17px solid #efeded;
    left: 225px;
    top: 0;
}

.body-head .nums {
    height: 125px;
}

.body-head .nums .num {
    text-align: center;
    width: 33.3333%;
    float: left;
}

.body-head .nums .num p {
    margin: 0 auto 23px;
    font-size: 16px;
    font-weight: bold;
}

.body-head .nums .num span {
    font-family: 'LED';
    color: #81ae4e;
    font-size: 40px;
}

.super {
    height: 245px;
}

.super .sleft {
    height: 245px;
    width: 790px;
    border: 1px solid #dddddd;
    background: url("../img/bg-super.jpg") no-repeat center;
    float: left;
}

.super .sleft .icon-stats-dots {
    margin: 0;
    padding: 33px 215px 0 130px;
    position: relative;
    font-family: 'Open Sans' !important;
    font-size: 20px;
    font-weight: bold;
}

.super .sleft .sinfo {
    margin: 0;
    padding: 30px 90px 0 45px;
    font-size: 16px;
}

.super .sleft a {
    display: block;
    margin: 50px 0 0 45px;
    font-size: 16px;
    color: #81ae4e;
    font-weight: bold;
    text-decoration: none
}

.super .sleft a:hover {
    text-decoration: underline;
}

.super .sright {
    width: 387px;
    height: 245px;
    float: right;
    background: url('../img/video.jpg') no-repeat center;
}

.tables {
    height: 340px;
}

.tables .table {
    width: 400px;
    height: 340px;
    text-align: center;
    float: left;
}

.tables .table:nth-child(1) {
    padding-right: 10px;
}

.tables .table:nth-child(2) {
    padding: 0 5px;
}

.tables .table:nth-child(3) {
    padding-left: 10px;
}

.tables .table>p {
    margin: 34px auto 23px;
    font-size: 20px;
    font-weight: bold;
}

.tables .table [class^=table-] {
    display: table;
    width: 100%;
    padding: 0 15px 8px;
}

.tables .table [class^=table-] .row {
    display: table-row;
}

.tables .table [class^=table-] [class^=cell-] {
    display: table-cell;
}

.tables .table .table-1 {
    background: rgba(219, 165, 35, 0.8) url("../img/table.png") no-repeat left center;
}

.tables .table .table-2 {
    background: rgba(107, 157, 49, 0.8) url("../img/table.png") no-repeat center;
}

.tables .table .table-3 {
    padding: 0 15px 3px;
    background: rgba(47, 47, 47, 0.8) url("../img/table.png") no-repeat right center;
}

.tables .table .cell-1 {
    width: 60%;
    height: 62px;
    border-bottom: 3px dotted #fff;
}

.tables .table .cell-2 {
    width: 40%;
    height: 62px;
    vertical-align: middle;
    border-bottom: 3px dotted #fff;
}

.tables .table .cell-1 .date {
    margin: 12px 0 10px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
}

.tables .table .cell-1 .span-1 {
    text-align: none;
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}

.tables .table .cell-1 .span-2 {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin: 0;
    text-align: none;
    float: left
}

.tables .table .cell-2 span {
    font-family: 'LED';
    font-size: 24px;
    float: right
}

.tables .table .row:last-child .cell-1,
.tables .table .row:last-child .cell-2 {
    border-bottom: none;
}

.tables .table .table-3 {
    padding: 0 20px 6px 30px;
}

.tables .table-3 .cell-1,
.tables .table-3 .cell-2 {
    height: 50px;
    vertical-align: middle;
}

.tables .table-3 .cell-1 span {
    position: relative;
    text-align: none;
    font-family: 'Open Sans' !important;
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.tables .table-3 .cell-2 span {
    color: #cf9a1d;
    font-size: 18px;
}

.tarifs {
    height: 455px;
}

.tarifs [class^=tarif-] {
    float: left;
    margin-right: calc(105px / 4);
}

.tarifs .tarif-5 {
    margin-right: 0;
}

.tarifs .tarif-1,
.tarifs .tarif-5 {
    margin-top: 93px;
    margin-bottom: 84px;
    width: 200px;
    height: 275px;
    border: 1px solid #6da130;
    background-color: transparent;
    padding: 0 24px;
}

.tarifs .tarif-1 .thead,
.tarifs .tarif-5 .thead {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}

.tarifs .tarif-1 .percent,
.tarifs .tarif-5 .percent {
    margin: 0;
    padding-bottom: 17px;
    font-family: 'LED';
    color: #6da130;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}

.tarifs .tarif-1 .info-1,
.tarifs .tarif-5 .info-1 {
    border-bottom: 1px solid #aeb1b4;
    margin: 0;
    margin-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-1 .info-2,
.tarifs .tarif-5 .info-2 {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #aeb1b4;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-1 a p,
.tarifs .tarif-5 a p {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #6da130;
    text-decoration: none;
}

.tarifs .tarif-1 a,
.tarifs .tarif-2 a,
.tarifs .tarif-3 a,
.tarifs .tarif-4 a,
.tarifs .tarif-5 a {
    text-decoration: none;
}

.tarifs .tarif-1 a:hover,
.tarifs .tarif-2 a:hover,
.tarifs .tarif-3 a:hover,
.tarifs .tarif-4 a:hover,
.tarifs .tarif-5 a:hover {
    text-decoration: underline;
}

.tarifs .tarif-2,
.tarifs .tarif-4 {
    padding: 0 30px;
    margin-top: 65px;
    margin-bottom: 52px;
    width: 225px;
    height: 335px;
    border: 1px solid #6da130;
    background-color: transparent;
}

.tarifs .tarif-2 .thead,
.tarifs .tarif-4 .thead {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.tarifs .tarif-2 .percent,
.tarifs .tarif-4 .percent {
    margin: 0;
    padding-bottom: 28px;
    font-family: 'LED';
    color: #6da130;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

.tarifs .tarif-2 .info-1,
.tarifs .tarif-4 .info-1 {
    border-bottom: 1px solid #aeb1b4;
    margin: 0;
    margin-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-2 .info-2,
.tarifs .tarif-4 .info-2 {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 23px;
    padding-bottom: 13px;
    border-bottom: 1px solid #aeb1b4;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-2 a p,
.tarifs .tarif-4 a p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #6da130;
    text-decoration: none;
}

.tarifs .tarif-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 245px;
    height: 415px;
    border: 1px solid #6da130;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 29px;
}

.tarifs .tarif-3 .thead {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.tarifs .tarif-3 .percent {
    margin: 0;
    padding-bottom: 37px;
    font-family: 'LED';
    color: #6da130;
    font-size: 77px;
    line-height: 77px;
    text-align: center;
}

.tarifs .tarif-3 .info-1 {
    border-top: 1px solid #aeb1b4;
    border-bottom: 1px solid #aeb1b4;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-3 .info-2 {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 33px;
    padding-bottom: 13px;
    border-bottom: 1px solid #aeb1b4;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.tarifs .tarif-3 a p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #6da130;
    text-decoration: none;
}

.tarifs [class^=tarif-]:hover {
    border: 1px solid #e1a71a;
}

.tarifs [class^=tarif-]:hover .percent {
    color: #e1a71a;
}

.princip {
    height: 400px;
    background: url("../img/backprinc.jpg") no-repeat center;
}

.princip .container>p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 53px;
    margin-bottom: 60px;
    text-align: center;
}

.princip .pr {
    width: 400px;
    float: left;
    padding: 0 65px;
}

.princip .pr p {
    margin-top: 140px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

.princip .pr span {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

.princip .pr-1 {
    background: url("../img/pricon1.png") no-repeat center top;
}

.princip .pr-2 {
    background: url("../img/pricon2.png") no-repeat center top;
}

.princip .pr-3 {
    background: url("../img/pricon3.png") no-repeat center top;
}

.our-proj {
    height: 495px;
}

.our-proj .container {
    padding: 0 100px;
}

.our-proj .container>p {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin: 60px 0;
}

.our-proj .left {
    float: left;
    padding-right: 23px;
    width: 500px;
}

.our-proj .right {
    float: right;
    padding-left: 23px;
    width: 500px;
}

.our-proj .p {
    margin: 0;
    border-bottom: 1px solid #d9dcde;
    font-size: 14px;
    color: #202020;
    line-height: 2;
    position: relative;
    font-family: 'Open Sans' !important;
}

.our-proj .p1,
.our-proj .p2,
.our-proj .p3 {
    padding: 28px 0 30px 90px;
}

.our-proj .p4,
.our-proj .p5,
.our-proj .p6 {
    padding: 28px 0 30px 100px
}

.our-proj .p6 {
    padding-bottom: 58px;
}

.our-proj .icon-rocket:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 36px;
    top: 15px;
    color: #71a139;
}

.our-proj .icon-dollar:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 20px;
    top: 10px;
    color: #71a139;
}

.our-proj .icon-stats-bars2:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 20px;
    top: 10px;
    color: #71a139;
}

.our-proj .icon-stats-dots:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 20px;
    top: 10px;
    color: #71a139;
}

.our-proj .icon-mobile:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 36px;
    top: 15px;
    color: #71a139;
}

.our-proj .icon-shield:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 40px;
    left: 36px;
    top: 15px;
    color: #71a139;
}

.partner .container {
    height: 185px;
    background: url("../img/backpart.jpg") no-repeat center;
    margin-bottom: 48px;
    overflow: hidden;
}

.partner .left {
    float: left;
    width: 400px;
    height: 185px;
}

.partner .left .p-1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #fff;
    padding: 28px 100px 0 28px;
}

.partner .left .p-2 {
    font-size: 14px;
    margin: 0;
    line-height: 22px;
    color: #fff;
    padding: 12px 50px 0 28px;
}

.partner .right {
    float: left;
    height: 185px;
    width: 800px;
}

.partner .right .level {
    width: 145px;
    height: 145px;
    float: left;
    border: 2px solid #fff;
    margin-right: 14px;
    background-color: transparent;
    margin-top: 20px;
}

.partner .right .level .top {
    text-align: center;
    font-size: 16px;
    line-height: 1;
    background: #fff;
    margin: 0;
    padding: 13px 0 11px;
    font-weight: bold;
    position: relative
}

.partner .right .level .top:after {
    content: '';
    position: absolute;
    bottom: -82px;
    left: 0;
    border: 70px solid transparent;
    border-top: 12px solid #fff;
}

.partner .right .level .bottom {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    font-size: 50px;
    line-height: 1;
    color: #fff;
    font-family: 'LED'
}

.otzyv {
    height: 318px;
}

.otzyv .container>p {
    margin: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}

.otzyv .left {
    width: 600px;
    float: left;
    margin-right: 20px;
    padding-top: 24px;
    padding-right: 35px;
}

.otzyv .right {
    padding-top: 24px;
    float: left;
    width: 580px;
    border-left: 2px solid #e1e1e1;
    padding-left: 28px;
}

.otzyv .block img {
    float: left;
    vertical-align: top;
    width: 132px;
    height: 132px;
}

.otzyv .block .text {
    float: left;
    padding-left: 42px;
    width: calc(100% - 132px);
}

.otzyv .block .top {
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 1;
}

.otzyv .block .center {
    margin: 0;
    text-align: left;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 28px;
    color: #71a139;
}

.otzyv .block .bottom {
    margin: 0;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    font-family: 'Open Sans' !important;
}

.otzyv .block .icon-quotes-left:before {
    font-family: 'icomoon';
    font-size: 12px;
    color: #71a139;
    position: absolute;
    top: 0;
    left: -24px;
}

.otzyv .block .icon-quotes-right:after {
    font-family: 'icomoon';
    font-size: 12px;
    color: #71a139;
    position: absolute;
    bottom: -10px;
    right: 0;
}


/*









KABINET STYLES









*/

.general-kab .head {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: left;
}

.general-kab .nav {
    padding: 0;
    margin: 0;
    float: left;
    padding-right: 20px;
    height: 310px;
    border-right: 1px solid #999;
    position: relative;
}

.general-kab .nav li {
    list-style: none;
    padding-left: 59px;
    border-bottom: 1px dashed #999;
    width: 253px;
    position: relative
}

.general-kab .nav li[class^=icon-]:before {
    line-height: 60px;
    font-size: 20px;
    color: #999;
    position: absolute;
    left: 22px
}

.general-kab .nav li[class^=icon-]:hover:before {
    color: #6c9d34
}

.general-kab .nav li a {
    color: #000;
    font-size: 14px;
    line-height: 61px;
    text-decoration: none;
    font-family: 'Open Sans' !important
}

.general-kab .nav li:last-child {
    border-bottom: none;
}

.general-kab .nav li:hover a,
.general-kab .nav li a:active {
    font-weight: bold;
    color: #6c9d34
}

.general-kab .right {
    width: calc(1200px - 274px);
    float: left;
    padding-left: 12px;
    height: 310px;
}

.general-kab .right .user {
    width: 303px;
    height: 115px;
    border: 1px solid #999;
    padding: 14px 10px 12px 14px;
    float: left;
    overflow: hidden;
    margin-right: 8px;
}

.general-kab .right .user img {
    width: 82px;
    height: 82px;
    border: 2px solid #6c9d34;
    float: left;
}

.general-kab .right .user p {
    line-height: 24px;
    font-size: 14px;
    margin: 3px 0 0 13px;
    float: left;
}

.general-kab .right .user p span {
    color: #6c9d34;
    font-weight: bold;
}

.general-kab .right .user a {
    margin: 22px 0 0 38px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    position: relative;
    font-family: 'Open Sans' !important;
}

.general-kab .right .user .icon-log-out:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 16px;
    color: #6c9d34;
    left: -23px;
    top: 2px;
}

.general-kab .right .icons {
    width: 601px;
    height: 115px;
    border: 1px solid #999;
    float: left;
}

.general-kab .right .icons a {
    width: calc(100% / 3);
    height: 113px;
    display: block;
    float: left;
    text-decoration: none;
    border-right: 1px solid #999;
}

.general-kab .right .icons a:last-child {
    border-right: none;
}

.general-kab .right .icons a p {
    margin: 0;
    text-align: center;
    padding-top: 81px;
    color: #000;
    font-weight: bold;
    line-height: 1;
    font-size: 14px;
    font-family: 'Open Sans' !important;
}

.general-kab .right .icons .icon-1 {
    background: url("../img/money_up.png") no-repeat center 24px;
}

.general-kab .right .icons .icon-1:hover p {
    color: #6c9d34;
}

.general-kab .right .icons .icon-2 {
    background: url("../img/money_down.png") no-repeat center 24px;
}

.general-kab .right .icons .icon-2:hover p {
    color: #dea61e;
}

.general-kab .right .icons .icon-3 {
    background: url("../img/pig.png") no-repeat center 24px;
}

.general-kab .right .icons .icon-3:hover p {
    text-decoration: underline;
}

.general-kab .contacts {
    padding: 0;
    margin: 8px 8px 0 0;
    float: left;
    background: rgba(107, 157, 49, 0.8) url('../img/table.png') no-repeat center;
}

.general-kab .contacts li {
    border-bottom: 1px solid #999;
    list-style: none;
    width: 303px;
    position: relative
}

.general-kab .contacts li[class^=icon]:before {
    font-family: 'icomoon';
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 11px;
}

.general-kab .contacts li:last-child {
    border-bottom: none;
}

.general-kab .contacts li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: calc(186px / 4);
    padding-left: 63px;
    font-family: 'Open Sans' !important
}

.genetal-kab .contacts span.norm {
    font-weight: normal
}

.general-kab .contacts span.bold {
    font-weight: bold;
}

.general-kab .contacts li a:hover {
    text-decoration: underline;
}

.general-kab .right .last {
    width: 601px;
    height: 187px;
    float: left;
    margin-top: 8px;
}

.general-kab .right .last .balance {
    width: 601px;
    height: 107px;
    background: rgba(219, 165, 35, 0.75) url('../img/table.png') no-repeat center;
    position: relative;
}

.general-kab .right .last .balance .head {
    float: left;
    margin: 0;
    width: 334px;
    height: 107px;
    border-right: 1px solid #999;
    padding: 25px 38px 0 95px;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    font-family: 'Open Sans'
}

.general-kab .right .last .icon-safe:before {
    font-family: 'icomoon';
    position: absolute;
    font-size: 43px;
    color: #000;
    top: 30px;
    left: 30px;
}

.general-kab .right .last .balance .money {
    /*    float: left;*/
    font-family: 'LED';
    line-height: 107px;
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.general-kab .right .last .info {
    margin-top: 6px;
    height: 74px;
    width: 100%;
    padding: 6px 11px;
    background: #f6f6f6;
}

.general-kab .right .last .info [class^=info-] {
    width: calc(100% / 3);
    height: 62px;
    border-right: 1px solid #999;
    float: left;
    position: relative;
}

.general-kab .right .last .info .icon-location:before {
    position: absolute;
    font-family: 'icomoon';
    font-size: 18px;
    top: 7px;
    left: 18px;
    line-height: 1;
    color: #999
}

.general-kab .right .last .info .icon-chronometer:before {
    position: absolute;
    font-family: 'icomoon';
    font-size: 18px;
    top: 7px;
    left: 18px;
    line-height: 1;
    color: #999
}

.general-kab .right .last .info .icon-mail:before {
    position: absolute;
    font-family: 'icomoon';
    font-size: 18px;
    top: 7px;
    left: 18px;
    line-height: 1;
    color: #999
}

.general-kab .right .last .info .info-3 {
    border-right: none;
}

.general-kab .right .last .info [class^=info-] .top {
    font-size: 13px;
    margin: 0;
    padding: 11px 0 0 47px;
    font-family: 'Open Sans' !important;
    line-height: 1;
}

.general-kab .right .last .info [class^=info-] .bottom {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 12px 0 0 47px;
    margin: 0;
    color: #6b9d31;
    font-family: 'Open Sans' !important;
}

.general-kab .links {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: table;
    content: '';
    clear: both;
}

.general-kab .links li {
    list-style: none;
    display: inline;
    background: #2f2f2f;
    float: left;
    height: 54px;
    border-right: 1px solid #000;
    position: relative;
}

.general-kab .links [class^=icon-]:before {
    position: absolute;
    font-size: 20px;
    line-height: 54px;
    color: #6b9d31;
    left: 58px;
}

.general-kab .links li:last-child {
    border-right: none;
}

.general-kab .links li a {
    line-height: 54px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-family: 'Open Sans' !important;
}

.general-kab .links li a:hover {
    text-decoration: underline;
}

#contribution {
    padding: 0px 60px 0 98px;
}

#history {
    padding: 0 68px 0 100px;
}

#refs {
    padding: 0 58px 0 106px;
}

#options {
    padding: 0 107px 0 95px;
}


/*






KABINET.HTML






*/

.tables-kab {
    height: 340px;
    margin-bottom: 25px;
}

.tables-kab .table {
    width: 400px;
    height: 340px;
    text-align: center;
    float: left;
}

.tables-kab .table:nth-child(1) {
    padding-right: 10px;
}

.tables-kab .table:nth-child(2) {
    padding: 0 5px;
}

.tables-kab .table:nth-child(3) {
    padding-left: 10px;
}

.tables-kab .table>p {
    margin: 34px auto 23px;
    font-size: 20px;
    font-weight: bold;
}

.tables-kab .table [class^=table-] {
    display: table;
    width: 100%;
    padding: 0 15px 8px;
}

.tables-kab .table [class^=table-] .row {
    display: table-row;
}

.tables-kab .table [class^=table-] [class^=cell-] {
    display: table-cell;
}

.tables-kab .table .table-1 {
    background: rgba(219, 165, 35, 0.8) url("../img/table.png") no-repeat left center;
}

.tables-kab .table .table-2 {
    background: rgba(107, 157, 49, 0.8) url("../img/table.png") no-repeat center;
}

.tables-kab .table .table-3 {
    padding: 0 15px 3px;
    background: rgba(47, 47, 47, 0.8) url("../img/table.png") no-repeat right center;
}

.tables-kab .table .cell-1 {
    width: 60%;
    height: 62px;
    border-bottom: 3px dotted #fff;
}

.tables-kab .table .cell-2 {
    width: 40%;
    height: 62px;
    vertical-align: middle;
    border-bottom: 3px dotted #fff;
}

.tables-kab .table .cell-1 .date {
    margin: 12px 0 10px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
}

.tables-kab .table .cell-1 .span-1 {
    text-align: none;
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}

.tables-kab .table .cell-1 .span-2 {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin: 0;
    text-align: none;
    float: left
}

.tables-kab .table .cell-2 span {
    font-family: 'LED';
    font-size: 24px;
    float: right
}

.tables-kab .table .row:last-child .cell-1,
.tables-kab .table .row:last-child .cell-2 {
    border-bottom: none;
}

.tables-kab .table .table-2,
.tables-kab .table .table-3 {
    padding: 0 20px 6px 30px;
}

.tables-kab .table-2 .cell-1,
.tables-kab .table-2 .cell-2,
.tables-kab .table-3 .cell-1,
.tables-kab .table-3 .cell-2 {
    height: 50px;
    vertical-align: middle;
    width: 50%;
}

.tables-kab .table-2 .cell-1 span,
.tables-kab .table-3 .cell-1 span {
    position: relative;
    text-align: none;
    font-family: 'Open Sans' !important;
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.tables-kab .table-2 .cell-2 span {
    color: #fff;
    font-size: 18px;
}

.tables-kab .table-3 .cell-2 span {
    color: #cf9a1d;
    font-size: 18px;
}

.tables-kab .table-3 .row:nth-child(1) .cell-2 span {
    font-size: 17px;
}


/*





YOUR-REFS.HTML






*/

.ref-wrap {
    margin-top: 10px;
    padding: 0 15px 20px 18px;
    margin-bottom: 40px;
    border: 1px solid #eaeaea;
    display: table;
    content: '';
    clear: both;
}

.ref-wrap>p {
    margin: 30px 0 27px 0;
    font-size: 14px;
    line-height: 1;
}

.ref-wrap>p>span {
    color: #669d26;
    font-weight: bold;
}

.ref-wrap .left {
    float: left;
    padding-right: 6px;
    width: 50%;
}

.ref-wrap .right {
    float: right;
    padding-left: 10px;
    width: 50%;
}

.ref-wrap [class^=table-] {
    background: url('../img/your-refs-bg.jpg') no-repeat center;
    margin-bottom: 8px;
    padding: 3px 16px 7px 24px;
}

.ref-wrap [class^=table-] [class^=line-] {
    height: 50px;
    border-bottom: 1px dotted #eaeaea;
}

.ref-wrap [class^=table-] [class^=line-]:last-child {
    border-bottom: none;
}

.ref-wrap [class^=table-] [class^=line-] .left {
    color: #fff;
    margin: 0;
    line-height: 50px;
    float: left;
    font-size: 14px;
}

.ref-wrap [class^=table-] [class^=line-] .right {
    margin: 0;
    float: right;
    text-align: right;
    line-height: 50px;
    font-family: 'LED', 'Open Sans';
    font-size: 18px;
    color: #e1a71a;
}

.ref-wrap [class^=info-] {
    width: 280px;
    background: #e1a71a;
}

.ref-wrap [class^=info-]:nth-child(2n) {
    float: right;
    padding: 0 6px;
}

.ref-wrap [class^=info-]:nth-child(2n+1) {
    float: left;
    padding: 0 6px;
}

.ref-wrap [class^=info-] .name {
    margin: 0;
    text-align: center;
    margin: 20px 0 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}

.ref-wrap [class^=info-] .reg-date {
    font-size: 12px;
    line-height: 1;
    margin: 0;
    text-align: center;
}

.ref-wrap [class^=info-] .rd {
    margin: 17px 0 18px;
    line-height: 1;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.ref-wrap [class^=info-] .money {
    background: #fff;
    border: 1px solid #eaeaea;
    display: table;
    content: '';
    clear: both;
}

.ref-wrap [class^=info-] .money .in {
    float: left;
    border-right: 1px solid #eaeaea;
    padding: 0 17px;
}

.ref-wrap [class^=info-] .money .in .head,
.ref-wrap [class^=info-] .money .out .head {
    margin: 13px 0 18px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    font-size: 14px;
}

.ref-wrap [class^=info-] .money .out {
    padding: 0 17px;
    float: right;
}

.ref-wrap [class^=info-] .money .in .sum {
    color: #669d26;
    font-size: 23px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
    font-family: 'LED';
}

.ref-wrap [class^=info-] .money .out .sum {
    color: #e1a71a;
    font-size: 23px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
    font-family: 'LED';
}

.ref-wrap [class^=info-] .mail-head {
    margin: 16px 0 10px;
    line-height: 1;
    font-size: 12px;
    text-align: center;
}

.ref-wrap [class^=info-] a {
    display: block;
    text-align: center;
    margin-bottom: 28px;
    text-decoration: none;
    line-height: 1;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.ref-wrap [class^=info-] a:hover {
    text-decoration: underline;
}


/*






HISTORY.HTML





*/

.history {
    border: 1px solid #eaeaea;
    margin-top: 12px;
    background: #fff;
    padding: 7px 12px 15px 17px;
    display: table;
    content: '';
    clear: both;
    margin-bottom: 33px;
}

.history [class^=date-] .head {
    margin: 0 0 20px;
    padding-top: 15px;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
}

.history [class^=date-] .row {
    width: 100%;
    margin-bottom: 13px;
    display: table;
    content: '';
    clear: both;
}

.history [class^=date-] .row .block {
    width: 385px;
    margin-right: calc((100% - 3 * 385px) / 2);
    float: left;
}

.history [class^=date-] .row .block:last-child {
    margin-right: 0;
}

.history [class^=date-] .row .block .bl {
    background: #eaeaea;
    float: left;
    width: 155px;
    background-image: url(../img/bitcoin-black.png);
    background-position: 13px 12px;
    background-repeat: no-repeat;
    padding-left: 16px;
}

.history [class^=date-] .row .block:first-child .bl {
    background: #e1a71a;
    background-image: url(../img/bitcoin.png);
    background-position: 13px 12px;
    background-repeat: no-repeat;
}

.history [class^=date-] .row .block .bl .vvod {
    margin: 60px 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.history [class^=date-] .row .block .bl .vr {
    margin: 16px 0;
    font-size: 12px;
    line-height: 1;
    color: #000;
}

.history [class^=date-] .row .block:first-child .bl .vr {
    color: #fff;
}

.history [class^=date-] .row .block .br {
    border: 1px solid #eaeaea;
    height: 118px;
    float: left;
}

.history [class^=date-] .row .block .top {
    height: 59px;
    border-bottom: 1px solid #eaeaea;
    width: 228px;
}

.history [class^=date-] .row .block .top .in {
    margin: 0;
    line-height: 59px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.history [class^=date-] .row .block .top .in .sum {
    font-size: 28px;
    line-height: 59px;
    font-family: 'LED';
    color: #669d26;
    vertical-align: middle;
    opacity: 0.7;
}

.history [class^=date-] .row .block .bottom {
    height: 59px;
}

.history [class^=date-] .row .block .bottom .out {
    margin: 0;
    line-height: 59px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.history [class^=date-] .row .block .bottom .out .sum {
    font-size: 28px;
    line-height: 59px;
    font-family: 'LED';
    color: #e5b44e;
    opacity: 0.7;
    vertical-align: middle;
    margin-left: 4px;
}


/*





YOUR-INS.HTML





*/

.ins {
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 30px 35px 25px;
    margin-top: 32px;
    margin-bottom: 17px;
    display: table;
    content: '';
    clear: both;
}

.ins .begin {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 1;
}

.ins .begin>span {
    font-weight: normal;
    font-size: 14px;
}

.ins .in {
    width: 302px;
    height: 215px;
    border: 2px solid #70a438;
    float: left;
    background: url('../img/bitcoin-black.png') no-repeat center 150px;
    margin-right: 15px;
}

.ins .in .head {
    margin: 30px 0 0;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    font-size: 16px;
}

.ins .in .sum {
    margin: 0;
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
    opacity: 0.8;
    font-family: 'LED';
    line-height: 1;
    color: #70a438;
}

.ins .can {
    width: 302px;
    height: 215px;
    border: 2px solid #e1a71a;
    float: left;
    background: url('../img/bitcoin-black.png') no-repeat center 150px;
}

.ins .can .head {
    margin: 30px 0 0;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    font-size: 16px;
}

.ins .can .sum {
    margin: 0;
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
    opacity: 0.8;
    font-family: 'LED';
    line-height: 1;
    color: #e1a71a;
}

.ins .right {
    float: left;
}

.ins .r1 {
    margin-left: 45px;
    height: 215px;
    float: left;
}

.ins .r1 img {
    height: 215px;
}

.ins .r2 {
    float: right;
    padding-left: 33px;
    padding-top: 25px;
    height: 215px;
    width: 215px;
}

.ins .r2 .head {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}

.ins .r2 .info {
    line-height: 22px;
    margin: 0;
    font-size: 14px;
    margin-top: 7px;
}

.ins .r2 .r22 {
    margin-top: 39px;
}

.ins .cycles {
    padding-top: 17px;
    display: table;
    content: '';
    clear: both
}

.ins .cycles p {
    margin: 0;
    line-height: 1;
    font-size: 14px;
    float: left;
    margin-right: 18px;
}
.ins .cycles p span{
    font-weight: bold;
    color: #70a438;
}
.ins .cycles [class^=sq-]{
    height: 16px;
    width: 16px;
    border: 1px solid #70a438;
    background: #70a438;
    float: left;
    margin-right: 8px;
}
.ins .cycles .sq-9,
.ins .cycles .sq-10{
    background: #fff;
}
/*





REG.HTML





*/
body#registration{
    background: url("../img/fon-reg.png") no-repeat center top;
}
.reg{
    margin-bottom: 38px;
}
.reg h1{
    margin: 0;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 29px;
    margin-top: -7px;
}
.reg .form{
    width: 427px;
    border: 1px solid #eaeaea;
    background: rgba(256, 256, 256, 0.3);
    padding: 10px 33px 31px 38px;

}
.reg form{
    width: 100%;

}
.reg form p{
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 19px 0 15px;
}
.reg form input{
    height: 30px;
    width: 100%;
    border: 1px solid #eaeaea;
    padding-left: 10px;
}
.reg form input:focus{
    border:1px solid #70a438;

}
.reg form input[type=button]{
    height: 40px;
    width: 188px;
    border: 2px solid #e1a71a;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
}
.reg form input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-top: 15px;
    border-radius: 0;
    border: 1px solid #eaeaea;
    background: #fff;
    float: left;

}
.reg form .uslugi{
    float: left;
    margin: 14px 0 17px ;
    line-height: 22px;
    font-size: 12px;
    padding-left: 22px;
    font-weight: normal;
    width:calc(100% - 23px)
}
.reg form .uslugi a{
    color:#70a438
}
.reg .ident{
    margin: 30px 0 14px;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
}
.reg .info{
    font-size: 12px;
    line-height: 20px;
}
/*




NEWS.HTML





*/
body#news{
    background: url("../img/fon-news.png") no-repeat center top;
}
#news .c1{
    padding-left: 5px;
}
#news h1{
    font-size:20px;
    font-weight: bold;
    line-height: 1;
    margin:22px 0;
}
.main-news{
    display: table;
    content: '';
    clear: both;
    margin-bottom: 35px;
}
.main-news .left{
    float: left;
    padding:0 7px 0 0;
    width:600px;
}
.main-news .left .bg{
    height: 311px;
    width:592px;
    border: 3px solid #eaeaea;
    background: url("../img/main-news.jpg") no-repeat center;
}
.main-news .right{
    width:587px;
    border:1px solid #eaeaea;
    float: left;
    height: 311px;
    overflow: hidden;
    padding:27px 20px 20px 30px;
}
.main-news .right .date{
    font-size: 14px;
    color:#70a438;
    line-height: 1;
    margin: 0;
}
.main-news .right .name{
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    margin:21px 0 14px;
}
.main-news .right .text1{
    font-size: 13px;
    line-height: 20px;
    margin:0 0 25px;
}
.main-news .right .text2{
    font-size: 13px;
    line-height: 20px;
    margin:0;
}
.news{
    display: table;
    content: '';
    clear: both;
}
.news .nl{
    float: left;
    width: 600px;
    border-right: 1px solid #eaeaea;
    padding-right: 35px;
}
.news .nr{
    width: 595px;
    float: left;
    padding-left:33px;
}
.news [class^=cell-]{
    padding:22px 0 18px;
    border-bottom: 1px solid #eaeaea;
    display: table;
    content: '';
    clear: both;
}
.news [class^=cell-]:nth-child(4n-3){
    padding-top: 0;
}
.news [class^=cell-]:nth-child(4n){
    padding-bottom: 0;
}
.news [class^=cell-] .pic{
    height: 163px;
    width: 213px;
    border: 3px solid #fff;
    background: url("../img/apple.jpg") no-repeat center;
    float: left;
}
.news [class^=cell-] .pic .color{
    background: rgba(0, 0, 0, 0.4);
    width:207px;
    height: 157px;
    display: none;
    position: relative;
}
.news [class^=cell-] .pic .color button{
    width:100px;
    height: 30px;
    border: 1px solid #fff;
    background: transparent;
    color:#fff;
    position: absolute;
    left:calc((100% - 100px) / 2);
    top:calc((100% - 30px) / 2);
}
.news [class^=cell-] .pic .color button:hover{
    font-weight: bold;
}
.news [class^=cell-] .pic:hover .color{
    display: block;
    cursor: pointer;
}
.news [class^=cell-] .novost{
    float: left;
    width:339px;
    padding-left: 16px;
}
.news [class^=cell-] .novost .date{
    margin: 0;
    margin-top: -4px;
    font-size: 14px;
    color:#70a438;
    line-height: 1;
}
.news [class^=cell-] .novost .name{
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    margin:21px 0 14px;
}
.news [class^=cell-] .novost .text{
    font-size: 13px;
    line-height: 20px;
    margin:0;
}
.c1 .click{
    min-width:20px;
    margin:26px auto 19px;
    display: table;
    content: '';
    clear: both;
}
.c1 .click a{
    float: left;
    line-height: 1;
    vertical-align: bottom;
}
.c1 .click [class^=page-]{
    font-size: 12px;
    text-decoration: none;
    color:black;
    width:25px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.c1 .click [class^=page-]:hover,
.c1 .click [class^=page-]:active{
    font-weight: bold;
    color:#70a438;
    font-size: 16px;
}
.c1 .click .before{
    width: 20px;
    height: 20px;
    border: 1px solid #70a438;
    background: transparent;
    float: left;
    margin-right: 5px;
}
.c1 .click .after{
    width: 20px;
    height: 20px;
    border: 1px solid #70a438;
    background: transparent;
    float: left;
    margin-left: 5px;
}
/*




ABOUT-US.HTML





*/
body#about-us{
    background: url("../img/fon-us.png") no-repeat center top;
}
body#about-us .our-proj{
    display: table;
    content: '';
    clear: both;
    margin-bottom: 37px;
}
body#about-us .container{
    display: table;
    content: '';
    clear: both;
}
#about-us .our-proj .container{
    background: #e1a71a;
    padding-bottom: 35px;
}
#about-us .our-proj>p {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin: 50px 0 33px;
}
#about-us .our-proj .icon-stats-dots:before{
    color: #fff;
}
#about-us .our-proj .icon-stats-bars2:before{
    color: #fff;
}
#about-us .our-proj .icon-dollar:before{
    color: #fff;
}
#about-us .our-proj .icon-mobile:before{
    color: #fff;
}
#about-us .our-proj .icon-shield:before{
    color: #fff;
}
#about-us .our-proj .icon-rocket:before{
    color: #fff;
}
#about-us .our-proj .p{
    border-bottom:1px solid #e4b133;
}
#about-us .stats{
    display: table;
    content: '';
    clear: both;
    margin-top: 13px;
}
#about-us .stats .stl{
    width:600px;
    height: 475px;
    background: #70a438;
    float: left;
    padding:32px 45px 25px 25px;
    color: #fff;
}
#about-us .stats .stl .head{
    margin: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
}
#about-us .stats .stl .ih{
    font-size: 12px;
    margin: 22px 0 0;
    font-weight: bold;
    line-height: 20px;
}
#about-us .stats .stl .info{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
#about-us .stats .str{
    width:600px;
    height: 475px;
    border:1px solid #eaeaea;
    float: left;
    padding:0 35px 20px 25px;
}
#about-us .stats .str [class^=line-]{
    height: 75px;
    margin-top:15px;
    width:100%;
}
#about-us .stats .str [class^=line-] .circle{
    width: 75px;
    height: 75px;
    background: #eaeaea;
    border-radius: 75px;
    text-align: center;
    float: left;
    margin-right: 30px;
}
#about-us .stats .str [class^=line-] .circle:hover{
    background: #70a438;
    cursor: pointer;
}
#about-us .stats .str [class^=line-] .circle .num{
    margin: 0;
    margin-top: 18px;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
}
#about-us .stats .str [class^=line-] .circle .text{
    margin: 0;
    margin-top: 6px;
    font-size: 8px;
    line-height: 1;
    color: #fff;
    font-weight: bold;
}

#about-us .stats .str [class^=line-] .lines{
    height: 75px;
    float: left;
    width:245px;
}
#about-us .stats .str .line-1 .lines .per-1{
    margin-top: 26px;
    width: 203px;
    height: 10px;
    background: #70a438;
}
#about-us .stats .str .line-1 .lines .per-2{
    margin-top: 3px;
    width: 80px;
    height: 10px;
    background: #eaeaea;
}
#about-us .stats .str .line-2 .lines .per-1{
    margin-top: 26px;
    width: 159px;
    height: 10px;
    background: #70a438;
}
#about-us .stats .str .line-2 .lines .per-2{
    margin-top: 3px;
    width: 91px;
    height: 10px;
    background: #eaeaea;
}
#about-us .stats .str .line-3 .lines .per-1{
    margin-top: 26px;
    width: 117px;
    height: 10px;
    background: #70a438;
}
#about-us .stats .str .line-3 .lines .per-2{
    margin-top: 3px;
    width: 136px;
    height: 10px;
    background: #eaeaea;
}
#about-us .stats .str .line-4 .lines .per-1{
    margin-top: 26px;
    width: 180px;
    height: 10px;
    background: #70a438;
}
#about-us .stats .str .line-4 .lines .per-2{
    margin-top: 3px;
    width: 79px;
    height: 10px;
    background: #eaeaea;
}
#about-us .stats .str .line-5 .lines .per-1{
    margin-top: 26px;
    width: 129px;
    height: 10px;
    background: #70a438;
}
#about-us .stats .str .line-5 .lines .per-2{
    margin-top: 3px;
    width: 141px;
    height: 10px;
    background: #eaeaea;
}
#about-us .stats .str [class^=line-] .info-str{
    height: 75px;
    float: left;
    width: 188px;
}
#about-us .stats .str [class^=line-] .info-str .perc-up{
    font-size: 20px;
    color: #e4b133;
    line-height: 1;
    margin:20px 0 0;
    font-weight: bold;
}
#about-us .stats .str [class^=line-] .info-str .perc-down{
    font-size: 12px;
    color: #838383;
    margin: 0;
    line-height: 15px;
}
#about-us .success{
    padding-left: 517px;
    padding-right: 55px;
    height: 422px;
    background: url('../img/abstat.png') no-repeat 10px 36px, url('../img/abstatback.png') no-repeat right 99px;
}
#about-us .success .head{
    margin: 0;
    padding-top: 43px;
    margin-bottom:42px;
    line-height: 1;font-size: 20px;
    color: #70a438;
    font-weight: bold;
}
#about-us .success .ih{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 22px;
}
#about-us .success .info{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}
/*





FAQ.HTML





*/
#faq{
    background: url("../img/fon-faq.png") no-repeat center top;
}
#faq .faq{
    display: table;
    content: '';
    clear: both;
    border:1px solid #eaeaea ;
    height: 800px;

}
#faq .breadcrums{
    margin-left: 15px;
}
#faq .faq .left{
    float: left;
    overflow-y: scroll;
    padding-right: 100px;
    padding-left: 40px;
    padding-bottom: 25px;
    width:500px;
    height: 800px;
}
#faq .faq .left h1{
    padding: 0;
    line-height: 1;
    font-weight: bold;
    font-size: 20px;
    margin: 28px 0 25px;
}
#faq .faq .left ul{
    margin:0;
    padding: 0;
}
#faq .faq .left ul li{
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
    list-style: none;
    border-bottom: 1px dashed #eaeaea;
    display: table;
    content: '';
    clear: both;
    width: 410px;
}
#faq .faq .left ul li:last-child{
    border-bottom:none;
}
#faq .faq .left ul li .l{
    float: left;
    width: 15px;
    text-align: right;
    margin-right: 10px;
}
#faq .faq .left ul li span{
    font-size: 14px;
    color:#e4b133;
    float: right;
    line-height:40px;
    width: 25px;
}
#faq .faq .left ul li a{
    display: block;
    text-decoration: none;
    color: #000;
    float: left;
    font-size: 14px;
    line-height: 40px
}
#faq .faq .left ul li a:hover{
    color:#70a438
}
#faq .faq .right{
    padding:30px 35px 10px 30px;
    overflow-y:scroll;
    height: 800px;
    width: 698px;
    float: left;
}
#faq .our-proj .container>p{
    margin:47px 0
}
#faq .faq .right p{
    line-height: 25px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}