@font-face{font-family:'PFBold';src:url('../fonts/PFDinDisplayPro-Bold.eot');src:url('../fonts/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/PFDinDisplayPro-Bold.woff') format('woff'),
url('../fonts/PFDinDisplayPro-Bold.ttf') format('truetype'),
url('../fonts/PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');font-weight:bold;font-style:normal;}
@font-face{font-family:'PFReg';src:url('../fonts/PFDinDisplayPro-Regular.eot');src:url('../fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/PFDinDisplayPro-Regular.woff') format('woff'),
url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype'),
url('../fonts/PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');font-weight:normal;font-style:normal;}