@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?qshrgr');
    src:    url('fonts/icomoon.eot?qshrgr#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?qshrgr') format('truetype'),
        url('fonts/icomoon.woff?qshrgr') format('woff'),
        url('fonts/icomoon.svg?qshrgr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e904";
}
.icon-chronometer:before {
    content: "\e919";
}
.icon-wallet:before {
    content: "\e91a";
}
.icon-profile:before {
    content: "\e913";
}
.icon-dollar:before {
    content: "\e90a";
}
.icon-safe:before {
    content: "\e915";
}
.icon-rocket:before {
    content: "\e909";
}
.icon-mail:before {
    content: "\e911";
}
.icon-megaphone:before {
    content: "\e916";
}
.icon-log-out:before {
    content: "\e914";
}
.icon-vk:before {
    content: "\e90d";
}
.icon-ticket:before {
    content: "\e917";
}
.icon-location:before {
    content: "\e91b";
}
.icon-mobile:before {
    content: "\e90e";
}
.icon-users:before {
    content: "\e91c";
}
.icon-user-tie:before {
    content: "\e918";
}
.icon-quotes-left:after {
    content: "\e90f";
}
.icon-quotes-right:before {
    content: "\e910";
}
.icon-key:before {
    content: "\e905";
}
.icon-lock:before {
    content: "\e906";
}
.icon-cog:before {
    content: "\e91d";
}
.icon-stats-dots:before {
    content: "\e907";
}
.icon-stats-bars2:before {
    content: "\e90b";
}
.icon-shield:before {
    content: "\e912";
}
.icon-star-empty:before {
    content: "\e90c";
}
.icon-google-plus:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}
.icon-skype:before {
    content: "\e908";
}

