@font-face{font-family:'icomoon';src:url('fonts/icomoon.eot?2crrqp');src:url('fonts/icomoon.eot?2crrqp#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?2crrqp') format('truetype'),
url('fonts/icomoon.woff?2crrqp') format('woff'),
url('fonts/icomoon.svg?2crrqp#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-timer:before{content:"\e900";}
.icon-woman:before{content:"\e901";}
.icon-bag:before{content:"\e902";}
.icon-bank:before{content:"\e903";font-size:36px;position:absolute;left:0;top:0;color:#f34c51}
.icon-calndar:before{content:"\e904";font-size:36px;position:absolute;left:0;top:0;color:#f34c51}
.icon-circle:before{content:"\e905";}
.icon-consultant:before{content:"\e906";font-size:36px;position:absolute;left:0;top:0;color:#f34c51}
.icon-econom:before{content:"\e907";}
.icon-key:before{content:"\e908";}
.icon-left:before{content:"\e909";font-size:66px;line-height:520px;}
.icon-man:before{content:"\e90a";}
.icon-map:before{content:"\e90b";font-size:36px;position:absolute;left:0;top:0;color:#f34c51}
.icon-right:before{content:"\e90c";font-size:66px;line-height:520px;}
.icon-rightopen:before{content:"\e90d";color:#4b40b6;position:absolute;font-size:50px;line-height:50px;left:88%;top:calc(70px/2);}
.icon-left-1:before{content:"\e909";font-size:65px;line-height:65px;color:black}
.icon-right-1:before{content:"\e90c";font-size:65px;line-height:65px;color:black;}
.icon-rightopen:hover{text-decoration:none;}
.icon-rightopen:hover:before{color:white;}
@media(max-width:1199px){.icon-rightopen:before{content:"\e90d";color:#4b40b6;position:absolute;font-size:32px;line-height:32px;left:88%;top:calc(46px/2);}
.icon-left,
.icon-right{display:none;}
}
@media (max-width:767px){.icon-bank:before{content:"\e903";font-size:36px;position:absolute;left:0;top:-5px;color:#f34c51}
.icon-calndar:before{content:"\e904";font-size:36px;position:absolute;left:0;top:-5px;color:#f34c51}
.icon-consultant:before{content:"\e906";font-size:36px;position:absolute;left:0;top:-5px;color:#f34c51}
.icon-map:before{content:"\e90b";font-size:36px;position:absolute;left:0;top:-5px;color:#f34c51}
.icon-left,
.icon-right{display:none;}
}